@import "../../assets/css/partials/grid.css";
@import "../../assets/css/partials/mediaqueries.css";
@import "../../assets/css/partials/base.css";

.container {
    @apply --lost-container;
}

.imgContainer {
    @apply --lost-50;

    @media (--tablet-viewport) {
        @apply --lost-100;
    }
}

.imgPadding {
    padding: 30px 0;
    flex-shrink: 1;
}

.copyContainer {
    @apply --lost-50;
    @apply --lost-center;

    @media (--tablet-viewport) {
        @apply --lost-100;
    }
}

.copyPadding {
    padding: $desktop-padding;
    max-width: 100%;
    /*flex-shrink: 1;*/
}

.reverse {
    flex-direction: row-reverse;
}

.black .copyContainer {
    background-color: $black;
    color: white;
}

.spacer {
    background-color: $black;
    display: block;
    width: 54px;
    height: 4px;
    border: none;
    float: left;
}

.black .spacer {
    background-color: $white;
}