@import "../../../assets/css/partials/grid.css";
@import "../../../assets/css/partials/mediaqueries.css";
@import "../../../assets/css/partials/base.css";

.container {
    @apply --lost-container-1000;
    background-color: $black;
}

.copyContainer {
    position: absolute;
    z-index: $bring-forward;
    padding: $desktop-padding;
    width: 500px;
    top: 0;

    @media (--tabletmini-viewport) {
        position: relative;
        background-color: $black;
        color: $white;
        width: auto;
    };
}

.copy-container {
    position: absolute;
    z-index: $bring-forward;
    padding: $desktop-padding;
    width: 500px;
    top: 0;

    @media (--tablet-viewport) {
        position: relative;
        background-color: $black;
        color: $white;
        width: auto;
    };
}

.spacer {
    background-color: $black;
    display: block;
    width: 54px;
    height: 4px;
    border: none;
    float: left;

    @media (--tablet-viewport) {
        background-color: $white;
    };
}