@import "../../assets/css/partials/grid.css";
@import "../../assets/css/partials/mediaqueries.css";
@import "../../assets/css/partials/base.css";

.container {
    @apply --lost-container-1000;
    background-color: $black;
}

.header {
    @apply --lost-100;
    @apply --lost-center;
    color: white;
    padding: 40px 0 20px 0;
    text-align: center;
}

.ctaContainer {
    @apply --lost-100;
    @apply --lost-center;
    padding: 10px 0 40px 0;

}

.cta {
    @apply  --lost-center;
    padding: 15px 20px;
    background-color: $blue;
    width: 250px;
    transition: background 0.4s;
    color: white!important;

    &:hover {
        background: #02c7ff;
    }
}