@import "../../assets/css/partials/grid.css";
@import "../../assets/css/partials/mediaqueries.css";
@import "../../assets/css/partials/base.css";

.container {
  @apply --lost-container;
}

.imgContainer {
  @apply --lost-50;
  position: relative;

  @media (--tablet-viewport) {
    @apply --lost-100;
  }
}

.copyContainer {
  @apply --lost-50;
  @apply --lost-center;
  margin-left: 0!important;

  @media (--tablet-viewport) {
    @apply --lost-100;
  }
}

.copyPadding {
  padding: $desktop-padding;
  flex-shrink: 1;
}

.reverse {
  flex-flow: row-reverse;

}

.black .copyContainer {
  background-color: $black;
  color: white;
}

.h2Margin{
  margin-top: 0;
}

.chevron {
  content: '';
  display: inline-block;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #FFF;
  position: absolute;
  top: 50%;
  transform: translatex(-75%) rotate(90deg);
}

.reverse .chevron {
  display: block;
  transform: translatex(-25%) rotate(-90deg);
}

.black .chevron {
  border-top: 20px solid $black;
}

/*.reverse .chevron {*/
  /*transform: translatex(-75%) rotate(90deg);*/
/*}*/
