@font-face {
  font-family: 'corpoaregular';
  src: url("./assets/fonts/c062003t-webfont.eot");
  src: url("./assets/fonts/c062003t-webfont.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/c062003t-webfont.woff2") format("woff2"), url("./assets/fonts/c062003t-webfont.woff") format("woff"), url("./assets/fonts/c062003t-webfont.ttf") format("truetype"), url("./assets/fonts/c062003t-webfont.svg#corpoaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'corporate_a_condensedregular';
  src: url("./assets/fonts/corporateacon-reg-webfont.eot");
  src: url("./assets/fonts/corporateacon-reg-webfont.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/corporateacon-reg.woff2") format("woff2"), url("./assets/fonts/corporateacon-reg-webfont.woff") format("woff"), url("./assets/fonts/corporateacon-reg-webfont.ttf") format("truetype"), url("./assets/fonts/corporateacon-reg-webfont.svg#corporate_a_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'corposregular';
  src: url("./assets/fonts/c063003t-webfont.eot");
  src: url("./assets/fonts/c063003t-webfont.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/c063003t-webfont.woff2") format("woff2"), url("./assets/fonts/c063003t-webfont.woff") format("woff"), url("./assets/fonts/c063003t-webfont.ttf") format("truetype"), url("./assets/fonts/c063003t-webfont.svg#corposregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mb-icons';
  src: url("./assets/fonts/mb-icons.eot?cve4g4");
  src: url("./assets/fonts/mb-icons.eot?#iefixcve4g4") format("embedded-opentype"), url("./assets/fonts/mb-icons.woff?cve4g4") format("woff"), url("./assets/fonts/mb-icons.ttf?cve4g4") format("truetype"), url("./assets/fonts/mb-icons.svg?cve4g4#mb-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3 {
  font-family: 'corporate_a_condensedregular';
}

body, p, a, .cta {
  font-family: 'corposregular';
}

[data-icon]:before, [data-icon-after]:after, .icon, .menu-items-list > li, .navCta a:before, .mod-footer .back-to-top:after, .slick-arrow.slick-prev:before, .slick-arrow.slick-prev:hover:before, .slick-arrow.slick-prev:active:before, .slick-arrow.slick-prev:focus:before, .slick-arrow.slick-next:before, .slick-arrow.slick-next:hover:before, .slick-arrow.slick-next:active:before, .slick-arrow.slick-next:focus:before, .mod-tadded-text .select-tab-mobile .arrow:before, .mod-tadded-image .select-tab-mobile .arrow:before, .car-table-list li.active:before, .select-car-mobile .arrow:before {
  font-family: "mb-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, body, p, a, .cta, [data-icon]:before, [data-icon-after]:after, .icon, .menu-items-list > li, .navCta a:before, .mod-footer .back-to-top:after, .slick-arrow.slick-prev:before, .slick-arrow.slick-prev:hover:before, .slick-arrow.slick-prev:active:before, .slick-arrow.slick-prev:focus:before, .slick-arrow.slick-next:before, .slick-arrow.slick-next:hover:before, .slick-arrow.slick-next:active:before, .slick-arrow.slick-next:focus:before, .mod-tadded-text .select-tab-mobile .arrow:before, .mod-tadded-image .select-tab-mobile .arrow:before, .car-table-list li.active:before, .select-car-mobile .arrow:before {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* table color defininition */
button {
  background: none;
  border: none;
}

.nocallout {
  -webkit-touch-callout: none;
}

.hyphenate {
  display: inline-block;
  -ms-word-break: break-all;
  word-break: break-all;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/*** CLEAR FLOAT ***/
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body, p, a {
  font-size: 1rem;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-align: left;
}

h1, h2, h3 {
  margin: 0 0 13px 0;
  padding-top: 20px;
}

h1 {
  font-size: 36px;
  line-height: 48px;
}

h2 {
  font-size: 28px;
  line-height: 30px;
}

h3 {
  font-size: 22px;
  line-height: 24px;
  margin: 20px 0;
}

ul {
  list-style: none;
}

a {
  color: #00adef;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:visited {
  color: #00adef;
  text-decoration: none;
}

a:hover {
  color: #006087;
  text-decoration: none;
}

th {
  background:#FFFFFF;
  font-weight: bold;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-size:16px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color: black;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr td:not(:first-child) {
  text-align: center;
}

tr th:not(:first-child) {
  text-align: center;
}

/*tr:hover td {*/
  /*background:#4E5066;*/
  /*color:#FFFFFF;*/
  /*border-top: 1px solid #22262e;*/
  /*border-bottom: 1px solid #22262e;*/
/*}*/

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

/*tr:nth-child(odd):hover td {*/
  /*background:#4E5066;*/
/*}*/

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:16px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}