@import "../../../assets/css/partials/mediaqueries.css";
@import "../../../assets/css/partials/base.css";
@import "../../../assets/css/partials/grid.css";

.container {
  @apply --lost-container-1000;
  position: relative;
  background-color: $black;
}

.headerSelectorContainer {
  @apply --lost-container;
  background-color: $black;
  margin-right: auto;
  padding: 20px;
}

.title {
  color: white;
  position: absolute;
  padding: 60px 60px;
}

.headerSelector {
  flex-grow: 0;
  background-color: #FFF;

  & .padding {
    padding: 15px 70px;
  }

  & span {
    color: black;
  }

  &.active {
    background-color: $blue;
  }
}

.spacer {
  background-color: #FFF;
  display: block;
  width: 54px;
  height: 4px;
  border: none;
  float: left;
}

.Exterior-buttons li {
  position: absolute;
  
  &:nth-child(1){
    top: 51%;
    left: 61%;
  }

  &:nth-child(2){
    top: 67%;
    left: 80%;
  }

  &:nth-child(3){
    top: 34%;
    left: 48%;
  }

  &:nth-child(4){
    top: 54%;
    left: 26%;
  }

  &:nth-child(5){
    top: 38%;
    left: 18%;
  }

  &:nth-child(6){
    top: 70%;
    left: 45%;
  }
}

.Interior-buttons li {
  position: absolute;

  &:nth-child(1){
    top: 42%;
    left: 33%;
  }

  &:nth-child(2){
    top: 44%;
    left: 78%;
  }

  &:nth-child(3){
    top: 60%;
    left: 49%;
  }

  &:nth-child(4){
    top: 60%;
    left: 27%;
  }
}

